<a href="https://colab.research.google.com/github/lsprings/coursera_repo/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized.

**Objectives:**
- List languages of data science
- List common data science libraries
- List tools used in data science
- Introduce arithmetic expressions in Jupyter Notebooks

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. SQL
4. Julia
5. Scala/Java

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. numpy
3. matplotlib
4. tensorflow
5. ggplot
6. dplyr

| Data Science Tools |
| -------------------|
| Jupyter Notebook/Lab |
| RStudio |
| VS Code |

### Below are a few examples of evaluating arithmetic expression in Python.

In [2]:
# This is a simple arithmetic expression to multiply and add integers.
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60.
200/60

3.3333333333333335

## Author
Lauren Springs